name: Docker Hub

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name:  Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push base to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: base
          push: true
          tags: danislab/base:latest
      - name: Push 3D-Lithium to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: 3d-lithium
          push: true
          tags: danislab/3d-lithium:latest
